body {
  background-color: #00D0CB;
}

h1{
  margin-top: 4%;
}

.display-4 {
  margin: 10vw 0vw;
  color: white;
  padding-top: 2%;
  font-weight: 250;
  font-size: 5vw;
  color: white;
}

.jumbotron-fluid {
  background-image: url("../images/background02.jpg");
  height: 35vw;
}

